
.tete{
    width: 60%;
}
nav{
    background-color: #3873b5;
    margin: 0;
    padding: 5px;
}
nav ul{
    margin-top: 16px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 10px;
}
nav ul li a:hover{
    background-color: rgba(248, 245, 245, 0.187);
    border-radius: 10px 0 10px 0px ;
    border-left: #6cc1ae 2px solid;
    border-bottom: #6cc1ae 2px solid;
    color: white;
}
button{
    background-color: transparent;
    border: none;
}
