body{
    margin: 0;
   
}
form{
    width: 30%;
    margin: 50px auto;
    /* border-radius: 10px; */
    border-color: transparent;
    box-shadow: 2px 2px 15px #16323b;
    background: linear-gradient(to bottom, #3873b5 0%, #6cc1ae 100%);
}

.btn{
    text-align: center;
    padding: 5px;
}.btn button{
    padding: 5px;
    width: 10%;
    outline: none;
}
a{
    text-decoration: none;
}
form label,input,textarea{
    display:block;
    margin: 10px auto;
    width: 90%;
    outline: none;
}
label{
    margin-left: 80px;
}
input{
    padding: 10px ;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(235, 231, 231);
}
textarea{
    padding: 10px ;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(235, 231, 231);
}

select{
    width: 75%;
    padding: 5px;
}

#tete{
    background: white;
    margin: auto;
    width:100% ;
    margin-bottom: 8px;
    padding: 1px;
    box-sizing: border-box;
    color: #3873b5;
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
}